.welcome-widget {
    padding: calc(var(--widgetVPadding) * 2) calc(var(--widgetHPadding) + 10px);
    font-size: 30px;
    line-height: 1.4;
    font-weight: 300;
    height: 100%;

    &__title {
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__content {
        p {
            color: #c5c5c5;
            white-space: pre-wrap;

            strong {
                color: #fff;
                font-weight: 400;
            }
        }
    }
}
