.button {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 500;

    &:not([disabled]),
    &:not(&_disabled) {
        cursor: pointer;
    }

    &_size_s {
        height: 26px;
        border-radius: 13px;
        line-height: 12px;
        font-size: 10px;
        padding: 6px 10px;
    }

    &_variant_action {
        background-color: #4d61f6;
        color: #fff;
    }

    &_variant_info {
        background-color: #ededed;
        color: #2d2d2d;
    }

    &_variant_expand {
        background-color: #fff;
        box-shadow: 0 0 0 1px #ededed;
    }
}

@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover {
            box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
        }
    }
}
