.projects-widget {
    padding: 30px 65px;
    height: 100%;

    &__toggle-button {
        background-size: cover;
        position: absolute;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
    }

    &_expanded_no &__toggle-button {
        width: 40px;
        height: 8px;
        background-image: url('i/expand.svg');
        left: calc(var(--widgetHPadding) + 10px);
        top: calc(var(--widgetHPadding) + 10px);
    }

    &_expanded_yes &__toggle-button {
        width: 20px;
        height: 20px;
        background-image: url('i/collapse.svg');
        right: calc(var(--widgetHPadding) + 10px);
        top: 31px;
    }

    &__title {
        height: 22px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        line-height: 22px;
        font-size: 15px;
    }

    &__title-inner {
        font-weight: bold;
        background: url('i/alert.png') 0 50% no-repeat;
        padding-left: 30px;
    }

    &__expanded-items {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    &__expanded-item {
        text-align: center;
        cursor: pointer;
    }

    &__expanded-item-stat,
    &__expanded-item-name {
        color: #fff;
    }

    &__expanded-item-stat {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__expanded-item-stat-days {
        font-weight: bold;
        font-size: 60px;
        line-height: 73px;
    }

    &__expanded-item-stat-left {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 2px;
    }

    &__expanded-item-stat-comments {
        color: #c5c5c5;
    }

    &__expanded-item-progressbar {
        margin-bottom: 15px;
        transition: transform .2s ease-in-out;
    }

    &__expanded-item-name {
        font-size: 16px;
        line-height: 43px;
        font-weight: bold;
    }

    &__collapsed-items {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
    }

    &__collapsed-items-wrapper,
    &__collapsed-items-inner {
        position: relative;
    }

    &__collapsed-items-inner {
        height: 100%;
    }

    &__collapsed-item {
        position: absolute;
    }

    &__percentage {
        color: #fff;
        position: absolute;
        line-height: 18px;
        font-weight: bold;
        text-align: center;

        &_position_top {
            top: -30px;
            left: 0;
            right: 0;
        }

        &_position_right {
            right: -40px;
            top: calc(50% - 9px);
        }

        &_position_bottom {
            bottom: -30px;
            left: 0;
            right: 0;
        }

        &_position_left {
            left: -40px;
            top: calc(50% - 9px);
        }
    }
}

@media (max-width: 1200px) {
    .projects-widget {
        padding-right: 30px;
        padding-left: 30px;

        &__expanded-items {
            overflow-x: auto;
        }

        &__expanded-item {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 800px) {
    .projects-widget {
        padding-right: 10px;
        padding-left: 10px;

        &__expanded-items {
            flex-direction: column;
            align-items: center;
        }

        &__expanded-item {
            margin-bottom: 40px;
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .projects-widget {
        &__expanded-item:hover &__expanded-item-progressbar {
            transform: scale(1.1);
        }
    }
}
