.welcome-widget {
    padding: 60px 33px;
    font-size: 30px;
    line-height: 1.4;
    font-weight: 300;

    &__title {
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__content {
        p {
            color: #c5c5c5;
            white-space: pre-wrap;

            strong {
                color: #fff;
                font-weight: 400;
            }
        }
    }
}
