.document-item {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 9px;
    height: 70px;
    padding: 10px 25px 10px 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #eeeeff;
    }

    &__pic {
        margin-right: 14px;
        max-width: 60px;
        display: flex;
        justify-content: flex-end;
    }

    &__pic-image {
        height: 100%;
    }

    &__meta {
        display: flex;
        align-items: center;
    }

    &__info-title {
        margin-bottom: 4px;
        font-weight: 500;
    }

    &__info-updated {
        color: #7d7d7d;
        font-size: 11px;
        line-height: 13px;
    }
}
