:root {

}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

html {
    color: #000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
}

body {
    background: linear-gradient(0deg, #1e183c 62.3%, #05060b 93.31%) no-repeat;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0;
}

#mount {
    height: 100%;
}

p {
    margin: 0;
}
