:root {
    --widgetHPadding: 15px;
    --widgetVPadding: 15px;
}

.main-layout {
    display: flex;
    max-width: 1600px;

    &__toolbar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }

    &__widgets {
        margin-left: 66px;
        width: 100%;
        padding: var(--verticalSpace) 66px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 170px);
        gap: 20px 20px;
        grid-auto-flow: row;
    }

    &__widget-item {
        border-radius: 24px;
        overflow: hidden;
        position: relative;

        &_theme_dark {
            color: #fff;
            background: linear-gradient(180deg, rgba(#1f1f24, .9) 0, rgba(#332f4d, .9) 100%) no-repeat;
        }

        &_theme_light {
            background: #f3f3f3;
        }
    }
}

@media all and (max-width: 1500px) {
    .main-layout {
        &__widgets {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}
